/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 27px;
}

header,
section {
  max-width: 1100px;
  margin: 0 auto;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

section > div {
  padding: 20px 15px;
}

a {
  text-decoration: none;
  transition: all .3s ease-in-out;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 52px;
  text-transform: capitalize;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}

h5 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #05364d;
}

.button {
  background: linear-gradient(to right, #3b225d 0%, #8B829E 51%, #e0cdc2 100%);
  color: #fff;
  letter-spacing: 0;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  padding: 0;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
  max-width: 40%;
  margin-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 60px;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  padding: 1em;
  color: #3b225d;
}

#home-banner {
  display: flex;
  padding-top: 0;
}

#home-banner > div {
  width: 50%;
}

#home-banner .home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5em;
}

#home-banner .home-content .social-icons > a {
  margin-right: 15px;
}

#home-banner .home-content .social-icons > a > i {
  font-size: 1.2em;
  color: #cccccc;
}

#home-banner .home-right-image {
  text-align: right;
}

#home-banner .home-right-image {
  height: 85%;
  width: 50%;
  z-index: -1;
  right: 0;
  position: absolute;
  background: url("../assets/img/perfil.jpg") no-repeat 50% 15%;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

#about-me {
  display: flex;
}

#about-me img {
  max-width: 100%;
}

#about-me > div {
  width: 50%;
}

#about-me .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-bottom-image {
  display: flex;
}

.services-bottom-image .service-item {
  width: 33%;
  padding: 15px;
  text-align: center;
}

.services-bottom-image .service-item img {
  max-width: 100px;
}

.services-bottom-image .service-item p {
  text-align: left;
}

.portfolio-content {
  padding-bottom: 0;
}

#portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
}

#portfolio-gallery .gallery__item {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 32%;
  padding: 15px;
  position: relative;
  align-items: center;
  margin-top: 20px;
  border: 3px solid #3b225d;
  text-align: center;
}

#portfolio-gallery .gallery__item:hover {
  opacity: 1;
  background-color: #3b225d;
  border: 20px solid #3b225d;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}

#portfolio-gallery .gallery__item:hover > a > .title {
  display: block;
}

#portfolio-gallery .gallery__item .gallery__img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#portfolio-gallery .title {
  display: none;
  position: absolute;
  left: 35%;
  top: 40%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: .5em;
  border: 4px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#contact {
  padding-bottom: 6em;
}

#contact .contact-info {
  display: flex;
}

#contact .contact-info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

#contact .contact-info .contact-icon {
  margin-bottom: 1.2em;
}

#contact .contact-info .contact-icon i {
  color: #8f9195;
  font-size: 27px;
}

#contact .contact-info .contact-icon span {
  font-size: 16px;
  margin-left: 15px;
}

#contact .contact-info figure {
  width: 60%;
  text-align: center;
}

#contact .contact-info figure img {
  border-radius: 50%;
  border: 8px solid #8B829E;
  background-color: #e0cdc2;
  /*clip-path: polygon(3% 0, 76% 0, 80% 51%, 100% 54%, 67% 74%, 50% 75%, 3% 75%);
                */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

footer {
  background-color: #000;
  color: #fff;
}

footer > div {
  text-align: center;
  padding: 1.5em;
}

footer a {
  padding: 1em;
}
/*# sourceMappingURL=style.css.map */