#about-me{
    @include flexbox;
    @media screen and (max-width:768px){
        flex-direction: column;
    }
    h2{
        @media screen and (max-width:768px){
            padding-bottom: 20px;
        }
    }
    img{
        max-width: 100%;
    }
    &>div{
        width: 50%;
        @media screen and (max-width:768px){
            width: 100%;
        }
    }
    .about-content{
        @include flexbox; 
        @include flex-direction(column);
        @include justify-content(center);
        @media screen and (max-width:768px){
            order:-1;
        }
    }
 }