.contact-form {
    @include flexbox;
    form{
        width: 60%;
        padding-right:1.8em;
        label{
            color: $lila;
        }
        textarea{
            width: 100%;
            resize: none;
            height: 33%;
        }
        input{
            height: 30px;
        }
        textarea, input{
            border: 2px solid $violet;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
    }
 figure{
            width: 40%;
            img{
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 18% 100%, 50% 75%, 0% 75%);
            }
        }
    .form-group {
        @include flexbox;
        @include flex-direction(column);
       
    }
}