#contact {
    padding-bottom: 6em;
    .contact-info {
        @include flexbox;

        &>div {
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
            width: 70%; 
        }

        .contact-icon { 
            margin-bottom: 1.2em;
            i {
                color: #8f9195;
                font-size: 27px;
            }

            span {
                font-size: 16px;
                margin-left: 15px;
            }
        }

        figure {
            width: 60%;
text-align: center;
            img { 
                border-radius: 50%;
                border:8px solid $lila;
                 background-color: $brown;
                /*clip-path: polygon(3% 0, 76% 0, 80% 51%, 100% 54%, 67% 74%, 50% 75%, 3% 75%);
                */
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
}
        }
    }
}