footer {
    background-color: #000;
    color: #fff;
.footer-logo{
    img{
        max-width: 60px;
    }
}
    &>div {
        text-align: center;
        padding: 1.5em;
    }

    a {
        padding: 1em;

        i {
            color: $brown;
        }
    }
}