header{
    @include flexbox;
    @include  justify-content(space-between); 
    @include align-items(center);
    img{
        max-width: 60px;
    }
   
   
    nav {
        @media screen and (max-width:768px){
            position: absolute;
            width: 100%;
            top: 0;
        }
        input {
            display: none;
            &:checked ~ ul{
                @media screen and (max-width:768px){
                    display: block;
                }
            }
          }
          label {
              display: none;
              @media screen and (max-width:768px){
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid black;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            margin: 20px;
            line-height: 30px;
            font-weight: bold;
            text-align: center;
            user-select: none;
            float: right;
              }
          }
        ul{
        @include flexbox;
        @media screen and (max-width:768px){
            display: none;
            background-color: #fff;
            margin-top: 70px;
        }
      
        li{
            @media screen and (max-width:768px){
              padding: 15px 10px;
            }
              a{
            padding: 1em;
            color:$violet;
        }
        }
       
    }
 
 
}
 
}