#home-banner{
    @include flexbox;  
    padding-top: 0;
    @media screen and (max-width:768px){
       height: 100vh;
    }
    &>div{
        width: 50%;
    }.home-content{
        @include flexbox; 
        @include flex-direction(column);
        @include justify-content(center);
        padding-top: 5em;
        @media screen and (max-width:768px){
            background-color: rgba(255,255,255,.5);
            width: 100%;
            @include justify-content(start);
        }
        .social-icons{ 
            &>a{
                margin-right: 15px;
                &>i{
                    font-size: 1.2em;
                    color: rgb(204, 204, 204);
                }
            }
        } 
        .button{
            @media screen and (max-width:768px){
               display: none;
            }
             
        }
    }
    
    .home-right-image{ 
        text-align: right; 
        width: 50%;
        z-index: -1;
        right: 0;
        background  : url("../assets/img/perfil.jpg") no-repeat 50% 15%;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        @media screen and (max-width:768px){
          height: 90vh;
          width: 70%;
        }
    }
}
