.portfolio-content {
    padding-bottom: 0;
}

#portfolio-gallery {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    padding-top: 0;
    @media screen and (max-width:768px){
        display: block;
    }
    .gallery__item {
        @include flexbox;
        @include justify-content(center);
        height: 40vh;
        width: 32%;
        padding: 15px;
        position: relative;
        align-items: center; 
        margin-top: 20px;
        border: 3px solid $violet;
        text-align: center;
        @media screen and (max-width:768px){
            width: 100%;
        }
        &:hover{
            opacity: 1;
            background-color: $violet;
           border: 20px solid $violet;
            transition: 1.5s;
            -webkit-transition: 1.5s;
            -moz-transition: 1.5s;
            -ms-transition: 1.5s;
            -o-transition: 1.5s;
        }
        &:hover >a >.title{
            display: block;
        }

        .gallery__img {
            filter: unquote("grayscale(100%)");
            -webkit-filter: unquote("grayscale(100%)");
        }
    }

    .title {
        display: none;
        position: absolute;
    left: 35%;
    top: 40%;
        color: $violet;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: bolder;
        padding: .5em;
        background-color: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

}