/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$roboto: 'Roboto', sans-serif;
/* Colors */
$violet: #3b225d;
$brown:   #e0cdc2;
$orange: #eab38d;
$lila: #8B829E;